<section> 
  <br /><br />
  <br>
  <div class="row">
    <div class="col-xs-6">
      <button type="button" class="glyphicon glyphicon-map-marker btn btn-info btn-sm homeButton"> Ubicación</button>
    </div>
    <div class="col-xs-6">
      <button type="button" class="glyphicon glyphicon-list-alt btn btn-success btn-sm homeButton"> Historial</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6">
      <button type="button" class="glyphicon glyphicon-bullhorn btn btn-danger btn-sm homeButton"> Notificaciones</button>
    </div>
    <div class="col-xs-6">
      <button type="button" class="glyphicon glyphicon-wrench btn btn-default btn-sm homeButton"> Configuración</button>
    </div>
  </div>
</section>
